body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
.w3-col img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-col img:hover{opacity: 1}

#profilePic {
	border-radius:50%;
}

.w3-image {
	border-radius:1%;
}

#modal01 {
	background-color: rgba(0, 0, 0, 0.9);
}

#caption {
	 font-size: 110%;
	color:oldlace;
}
